flowsMqtt_sielinou.json
[{"id":"75f6c156.0f6b3","type":"mqtt in","z":"21a2476f.e94dd8","name":"","topic":"/Hi","qos":"2","datatype":"auto","broker":"b3b942f8.5939b","x":510,"y":300,"wires":[["c3668e13.9b54c","fb8aefc1.50d5"]]},{"id":"ff5e0309.62d0f","type":"mqtt out","z":"21a2476f.e94dd8","name":"","topic":"","qos":"","retain":"","broker":"b3b942f8.5939b","x":510,"y":180,"wires":[]},{"id":"c3668e13.9b54c","type":"debug","z":"21a2476f.e94dd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":730,"y":260,"wires":[]},{"id":"f10cf8d3.d18c1","type":"inject","z":"21a2476f.e94dd8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"/Hi","payload":"Ciao","payloadType":"str","x":130,"y":120,"wires":[["ff5e0309.62d0f"]]},{"id":"2f7af43c.6881a4","type":"inject","z":"21a2476f.e94dd8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"/Hi","payload":"{\"Name\":\"Jun\",\"City\":\"Turin\"}","payloadType":"json","x":190,"y":180,"wires":[["ff5e0309.62d0f"]]},{"id":"d0c0a40d.736f1","type":"mosca in","z":"21a2476f.e94dd8","mqtt_port":1883,"mqtt_ws_port":8080,"name":"dev","username":"ok","password":"123456","dburl":"","x":90,"y":40,"wires":[[]]},{"id":"2e036045.786b8","type":"inject","z":"21a2476f.e94dd8","name":"inject \"open\" command","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"/Hi","payload":"open","payloadType":"str","x":160,"y":240,"wires":[["ff5e0309.62d0f"]]},{"id":"cbb2c12f.3f86b8","type":"inject","z":"21a2476f.e94dd8","name":"inject \"closed\" command","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"/Hi","payload":"closed","payloadType":"str","x":170,"y":300,"wires":[["ff5e0309.62d0f"]]},{"id":"fb8aefc1.50d5","type":"ui_text","z":"21a2476f.e94dd8","group":"abde5ab0.f4444","order":0,"width":0,"height":0,"name":"","label":"Msg","format":"{{msg.payload}}","layout":"row-spread","x":710,"y":320,"wires":[]},{"id":"b3b942f8.5939b","type":"mqtt-broker","z":"","name":"","broker":"mqtt.eclipse.org","port":"1883","clientid":"Test-client","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"abde5ab0.f4444","type":"ui_group","z":"","name":"output","tab":"945a13f2.a0764","order":1,"disp":true,"width":"6","collapse":false},{"id":"945a13f2.a0764","type":"ui_tab","z":"","name":"MsgArduino","icon":"dashboard","order":1,"disabled":false,"hidden":false}]